<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      rubyslist > jobs > accounting
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
     <div class="newest">newest</div>
     <div class="oldest">oldest</div>
     <div class="highest-price">highest-price</div>
     <div class="lowest-price">lowest-price</div>
   </div>
  <ul class="list-margin">
    <li><span>November 14</span> Listing here! (MN)</li>
    <li><span>November 14</span> Listing here! (MN)</li>
    <li><span>November 14</span> Listing here! (MN)</li>
    <li><span>November 14</span> Listing here! (MN)</li>
  </ul>
</div>
