<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'Rajslist', root_path %>  > privacy
    </div>
  </div>
</div>

<div class="container">
    <p>iLorem ipsum dolor sit amet, consectetur adipiscing elit.
    Vestibulum varius mi vel ipsum ultrices, non volutpat nisl viverra.
    Sed rhoncus elementum tortor, vitae condimentum dolor. Vestibulum
    imperdiet velit ac fringilla pulvinar. Nunc euismod justo sit amet
    turpis tincidunt, id ultricies neque scelerisque. Sed ullamcorper id
    risus gravida pulvinar. Fusce iaculis elit orci, eget mattis quam dapibus
    id. Pellentesque iaculis et neque sed bibendum. Nullam hendrerit, orci
    laoreet sodales molestie, enim lectus posuere ligula, id ultrices eros nisl
    nec purus. Aliquam sit amet porttitor leo, in iaculis felis.

    Duis enim est, luctus at nibh in, consequat sollicitudin purus. Curabitur
    posuere vulputate massa cursus interdum. Nam a imperdiet quam. Morbi
    lacinia, eros eget facilisis porta, ante elit rhoncus nisi, id tristique
    augue nibh vitae ligula. Suspendisse tincidunt non est vitae rhoncus. Nulla
    tincidunt tempor turpis sed rutrum. Aliquam pharetra malesuada dui, ut
    porttitor risus luctus at. Proin aliquam pretium accumsan.

    In at elit eu purus tincidunt finibus. Morbi vestibulum lacus et nunc
    accumsan tempor. Curabitur egestas vitae nulla sit amet pellentesque. Etiam
    ullamcorper efficitur felis, vel pellentesque sapien sagittis at. Lorem
    ipsum dolor sit amet, consectetur adipiscing elit. Proin ante dui, varius a
    metus quis, egestas pellentesque leo. Aliquam pellentesque rhoncus metus
    vitae molestie. Morbi lorem urna, cursus in maximus sit amet, maximus nec
    diam. Praesent quis facilisis mauris.
    </p>
</div>
