<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      rubyslist > jobs > accounting
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
     <div class="newest">newest</div>
     <div class="oldest">oldest</div>
     <div class="highest-price">highest-price</div>
     <div class="lowest-price">lowest-price</div>
   </div>
  <ul class="list-margin">

    <% @listings.each do |listing| %>
    <li>
      <span>
        <%= listing.created_at.strftime('%B %d, %Y') %>
      </span>
      <%= link_to listing.title, listing %> - (<%= listing.city %>, <%= listing.state %>)
    </li>
    <% end %>
  </ul>
</div>
